body {
  width: 60vw;
  margin: auto;
  font-size: 14px;
  font-family: 'Oswald', sans-serif;
}

body header {
  width: 750px;
  color: #1a1a1a;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 18px
}

body a {
  text-decoration: none;
}

body .animation1 {
  color: #ffebb4;
  background-color: #4b351d;
  border: 3px solid #4b351d;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 10px;
}

body .animation2 {
  color: #1e1e1e;
  border: 3px solid #1e1e1e;
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 10px;
}

h1 {
  color: #1e1e1e;
  font-size: 46px;
  font-weight: 200;
  font-family: 'Bungee Inline', sans-serif;
  
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

h2 {
  color: #1e1e1e;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}

main {
  height: 750px;
  width: 1200px;
  border: 5px solid #1e1e1e;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .container {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 75px;
          column-gap: 75px;

  width: 75%;
  margin: 50px auto;
}

main .container .container-left{
  height: 100%;
}

main .container .container-right{
  height: 100%;
}

main section {
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main section dl {
  width: 100%;
  margin-bottom: 10px;
}

main section dt {
  display: inline;
  color: #979797;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  font-style: italic;
}

main section dt::after {
  content: ',';
}

main section dd {
  display: inline;
  text-align: left;
  margin-right: 10px;
}

main section .price {
  float: right;
  height: 30px;
  margin-left: 10px;
}

#starters{
  border: 2px solid black;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

#desserts{
  border: 2px solid black;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
  margin-top: 40px;
}
body main .address {
  width: 100%;
  height: 50px;
  
  font-size: 13px;
  font-weight: 600;
  margin: auto;
  margin-top: 100px;
  color: #1e1e1e;
  font-style: italic;
  text-align: right;
}