body {
  width: 60vw;
  margin: auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: #241b18;
}

body header {
  width: 750px;
  color: #ffebb4;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

body a {
  text-decoration: none;
}

body .animation1 {
  color: #ffebb4;
  background-color: #4b351d;
  border: 3px solid #4b351d;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 10px;
}

body .animation2 {
  color: #fafafa;
  border: 3px solid #fafafa;
  background-color: #757575;
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 10px;
}

h1 {
  color: #5d4037;
  font-weight: 900;
  font-size: 45px;
  font-family: 'Supermercado One', sans-serif;
  text-align: center;
  margin-bottom: 50px;
}

h2 {
  color: #6d4c41;
  font-size: 25px;
  font-weight: 600;
  font-variant: small-caps;
  margin-bottom: 15px;
}

main {
  height: 750px;
  width: 1200px;
  border: 5px solid #4B351D;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-image: url(../img/background-map.jpg);
}

main section {
  margin-bottom: 15px;
}

main section dt {
  color: #241b18;
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

main section dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: left;
  margin-right: 10px;
}

main .container {
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 100px;
          column-gap: 100px;
  -webkit-column-rule: 2px dotted #bc8f8f;
          column-rule: 2px dotted #bc8f8f;
  width: 1000px;
  margin: auto;
}

main .price {
  color: #b22222;
  font-weight: 600;
  margin-left: 30px;
}

.address {
  width: 800px;
  height: 50px;
  
  font-size: 13px;
  font-weight: 600;
  margin: auto;
  margin-top: 30px;
  padding: 10px 85px;
  color: #312622;
  border-radius: 10px;
  border: 2px dotted #bc8f8f;
}